*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
}
header {
	display: flex;
	text-align: center;
	justify-content: space-between;
}
.firstboxHeader__logo {
	width: 50px;
	height: 50px;
	margin-left: 40px;
}
.firstboxHeader__nav {
	color: #E67816;
	font-size: 25px;
	padding: 10px;
}
.secondboxHeader__subnav{
	background: #FFF974;
	border-style: solid;
	border-color: #7AC49F;
	border-width: 2px;
	display: flex;
	justify-content: flex-end;
}
.secondboxHeader__nav{
	padding: 20px;
	color: #E67816;
}
.firstboxMain{
	height: 67vh;
	display: flex;
	justify-content: space-between;
	background-image: url(assets/fundohome.jpg);
}
.firstboxMain__text{
	color: #FFFFFF;
	font-size: 13px;
	width: 220px;
	text-align: justify-all;
	margin: 0px 0px 0px 40px;
}
.firstboxMain__text--title{
	font-size: 41px;
	color: #fff;
	padding: 20px 0px 10px 25px;
	margin-top: 40px;
}
.firstboxMain__video{
	padding: 50px 0px 20px 20px;
}
.secondboxMain{
	display: flex;
	justify-content: space-between;
	background: #333333;
	height: 500px;
}
.secondboxMain__text{
	color: #fff;
}
.secondboxMain__text--title{
	font-size: 38px;
	color: #85C226;
}
 .secondboxMain__paragraph{
	width: 560px;
}
.secondboxMain__picture{
	padding: 40px 20px 30px 20px;
	width: 600px;
	height: 380px;
}
 .secondboxMain__picture--photo{
 	width: 500px;
 	height: 350px;
 }
 .objetivosbox{
 	display: flex;
 	flex-direction: column;
 	align-items: space-around;
 	background-color: #fff;
 }
 .objetivosbox__title{
 	font-size: 35px;
 	text-align: center;
 	color: #00923F;
 }
 .objetivos_gerais--especificos{
 	padding: 20px;
 	display: flex;
 	justify-content: space-around;
 }
 .objetivosbox__Gerais{
 	display: flex;
 	flex-direction: column;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-image: url(assets/1912173_900290656693146_5341338124391531915_n.jpg);
 }
 .objetivosbox__Gerais--title{
 	font-size: 30px;
 	color: #FFF974;
}
 .objetivosbox__Gerais--paragraph{
 	font-size: 19px;
 	text-align: center;
 	width: 400px;
 	height: 400px;
 	color: #FFF974;
 }
 .objetivosbox__Específicos{
 	display: flex;
 	flex-direction: column;
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-image: url(assets/fundo-acoes.jpg);
 }
 .objetivosbox__Específicos--title{
 	font-size: 30px;
 	color: #FFF974;
 }
 .objetivosbox__Específicos--paragraph{
 	font-size: 19px;
 	line-height: 35px;
 	width: 400px;
 	color:  #FFF974;
 }
 .ciclobox{
 	background-color: #0E9347;
 }
 .cicloboxtop, .cicloboxmid, .cicloboxend{
 	display: flex;
 	padding: 20px;
 	justify-content: space-around;
 }
 .cicloboxtop__text, .cicloboxend__text{
 	font-size: 13px;
 	width: 140px;
 	color: #FFF974;
 }
 .cicloboxtop__arrowrigth{
 	width: 100px;
 	height: 38px;
 }
 .objetivosbox{
 	display: flex;
 	flex-direction: column;
 	align-items: space-around;
 	background-color: #fff;
 }
 .objetivosbox__title{
 	font-size: 35px;
 	text-align: center;
 	color: #00923F;
 }
 .objetivosbox__Gerais{
 	display: flex;
 	flex-direction: column;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-image: url(assets/1912173_900290656693146_5341338124391531915_n.jpg);
 }
 .objetivosbox__Gerais--title{
 	font-size: 30px;
 	color: #FFF974;
}
 .objetivosbox__Gerais--paragraph{
 	font-size: 19px;
 	text-align: center;
 	width: 400px;
 	height: 400px;
 	color: #FFF974;
 }
 .objetivosbox__Específicos{
 	display: flex;
 	flex-direction: column;
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-image: url(assets/fundo-acoes.jpg);
 }
 .objetivosbox__Específicos--title{
 	font-size: 30px;
 	color: #FFF974;
 }
 .objetivosbox__Específicos--paragraph{
 	font-size: 19px;
 	line-height: 35px;
 	width: 400px;
 	color:  #FFF974;
 }
 .ciclobox{
  background-color: #0E9347;
 }
 .cicloboxtop, .cicloboxmid, .cicloboxend{
 	display: flex;
 	padding: 20px;
 	justify-content: space-around;
 }
 .cicloboxtop__text, .cicloboxend__text{
 	font-size: 13px;
 	width: 140px;
 	color: #FFF974;
 }
 .cicloboxtop__arrowrigth{
 	width: 100px;
 	height: 38px;
 }
 .cicloboxmid__arrowup,.cicloboxmid__arrowdown{
 	width:30px; 
 	height:90px;
 }
 .blockcicleboxmid__text{
 	display: inline-block;
 }
 .cicloboxmid__text{
 	font-size: 38px;
 	text-align: center;
 	font-weight: bold;
 	color: #fff;
 }
.cicloboxend__arrowleft{
	width: 100px;
 	height: 38px;
}
.resultadosbox{
	text-align: center;
	height: 60vh;
	background-color: #7AC49F;
}
.resultadosbox__title{
	font-size: 38px;
	color: #fff;
}
.resultadosbox__blockpictures{
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.resultadosbox__pictures{
	width: 200;
	height: 110px;
}
.resultadosbox__text{
	font-size: 10px;
	margin-left: 10px;
	margin-right: 20px;
	padding: 20px 0px 0px 30px;
	width: 110px;
	height: 75px;
	color: #fff;
}
.firstboxFooter{
	display: flex;
	justify-content: space-around;
	color: #85C226;
	background-color: #333333;
}
.firstboxFooter__title{
	width: 30vw;
	font-size: 25px;
}
.firstboxFooter__picture{
	width: 30px;
	height: 30px;
	padding: 5px;
}
.firstboxFooter__paragraphcolor{
	color: #E67816;
}
.block{
	display: flex;
}
.firstboxFooter__parceiros{
	display: flex;
	flex-direction: column;
}
.firstboxFooter__contato{
	display: flex;
	flex-direction: column;
}
.firstboxFooter__parceiros--first{
	color: #E67816;
}
.firstboxFooter__parceiros--second{
	color: #E67816;
}
.firstboxMain__paragraph--size{
	font-size: 10px;
	line-height: 3;
	width: 200px;
}
.firstboxMain__paragraph--size2{
	font-size: 10px;
	width: 200px;
}
.firstboxMain__paragraph--redes{
	padding: 5px;
}
.firstboxMain__paragraph--redes2{
	padding: 5px;
	color: #E67816;
}
.firstboxFooter__blockcont {
	display: flex;
	margin-top: 15px;
}